# See http://help.github.com/ignore-files/ for more about ignoring files.

.env

# compiled output
dist
dist-ssr
tmp
/out-tsc

# dependencies
node_modules
build

# environment variables
*.local

# Internet Computer
.dfx

# Other
NOTES.md
.idea
.nx

# misc
coverage
yarn-error.log
allure-results
allure-report
package-lock.json
npm-debug.log
yarn-error.log
*tsconfig.tsbuildinfo

# System Files
.DS_Store
Thumbs.db
Icon

# Storybook
doctor-storybook.log
storybook-migration-summary.md