@nfid:registry=https://registry.npmjs.com/
@psychedelic:registry=https://npm.pkg.github.com
@internet-identity-labs:registry=https://npm.pkg.github.com
# This _authToken is only capable of reading github registry packages. So it's save to add it here.
//npm.pkg.github.com/:_authToken=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
