# regenerate token in case it stops working here:
# https://github.com/settings/tokens/974441632
//npm.pkg.github.com/:_authToken=${PSYCHEDELIC_GH_NPM_REGISTRY}
@psychedelic:registry=https://npm.pkg.github.com/
