{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@dfinity/",
    "^@nfid/",
    "^frontend/",
    "^src/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": [
    "jsx",
    "typescript",
    "decorators-legacy"
  ],
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx",
        "*.json",
        "*.yml",
        "*.yaml",
        "*.md",
        "*.css",
        "*.scss",
        "*.html"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}