{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@internet-identity-labs/nfid-sdk-react",
    "^@nfid*",
    "^frontend/design-system",
    "^./flows/(.*)$",
    "^./flows",
    "^frontend/(.*)$",
    "^components/(.*)$",
    "^./assets/(.*)$",
    "^./hooks/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["jsx", "typescript"],
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx",
        "*.json",
        "*.yml",
        "*.yaml",
        "*.md"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
