{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier", "plugin:react-hooks/recommended"],
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "rules": {
    "react/prop-types": 0,
    "camelcase": "off",
    "no-useless-return": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "react/jsx-props-no-spreading": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off",
    "import/no-named-as-default": "off",
    "no-shadow": "off",
    "no-nested-ternary": "off",
    "default-case": "off",
    "no-continue": "off",
    "no-irregular-whitespace": "off",
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
