.icon-background-blur {
  z-index: -1;
  position: absolute;
}

.big-background-blur {
  left: -30px;
  top: -22px;
  height: 232px;
  width: 232px;
  opacity: 0.5;
  filter: blur(61.6011px);
  transform: matrix(0, 1, -1, 0, 0, 0);
}

.small-background-blur {
  left: 0px;
  top: -22px;
  height: 143px;
  width: 143px;
  opacity: 0.3;
  filter: blur(21.5604px);
  transform: rotate(-180deg);
}

.private-background-blur.big-background-blur {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #923dff 0%,
    rgba(21, 87, 255, 0) 100%
  );
}

.private-background-blur.small-background-blur {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #df5eff 0%,
    rgba(75, 115, 255, 0.15) 100%
  );
}

.convenient-background-blur.big-background-blur {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #a864ff 0%,
    rgba(255, 21, 204, 0) 100%
  );
}

.convenient-background-blur.small-background-blur {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 211, 98, 0.74) 0%,
    rgba(226, 218, 17, 0) 100%
  );
}

.secure-background-blur.big-background-blur {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #008c95 0%,
    rgba(21, 255, 101, 0) 100%
  );
}

.secure-background-blur.small-background-blur {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #e0ff62 0%,
    rgba(253, 255, 168, 0) 100%
  );
}

.only-with-nfid::before {
  content: "123";
  display: block;
  position: absolute;
  left: -50vw;
  top: 0;
  width: 200vw;
  height: 100%;
  background: #3d3f56;
}

@media only screen and (max-width: 820px) {
  .blur-pink {
    max-width: none;
    right: -14em;
  }

  .blur-green {
    height: 200%;
    width: 350%;
    margin-top: -85em;
  }

  .blur-blue.md\:left-\[-85\%\] {
    width: 310%;
  }

  main.landing-page .container button.btn-large-max {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .blur-green {
    height: 120%;
    width: 350%;
    margin-top: -45em;
  }
}

@media only screen and (max-width: 390px) {
  .blur-green {
    margin-top: -20em;
  }
}

@media only screen and (max-width: 375px) {
  .blur-pink {
    max-width: none;
    right: -14em;
  }

  .blur-green {
    margin-top: -10em;
  }

  .blur-blue.md\:left-\[-85\%\] {
    width: 410%;
    top: -65em;
    left: -22em;
  }
}

@media only screen and (max-width: 320px) {
  .blur-blue {
    top: -25em;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #edfffd 0%, 62FCE0 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient-radial {
  top: 0;
  left: 50%;
  margin-left: -300px;
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: radial-gradient(circle, #00896c 0%, #0d1515 100%);
  filter: blur(2400px);
}

@media only screen and (min-width: 768px) {
  .gradient-radial.mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .gradient-radial {
    width: 370px;
    height: 370px;
    top: 280px;
    left: 0;
    right: 0;
    margin: 0 auto;
    filter: blur(120px);
  }
}

.gradient-radial-card {
  opacity: 0;
  top: -150px;
  left: 210px;
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: radial-gradient(circle, #00896c 0%, #0d1515 100%);
  filter: blur(200px);
  transition: 0.25s opacity ease-in-out;
}

.card:hover .gradient-radial-card {
  opacity: 1;
}

h1,
h2,
h4 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
  font-style: normal;
}

body.homescreen {
  background-color: #0e0f10;
}

.landing-lottie {
  right: 0;
}

.landing-lottie {
  svg {
    width: auto !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 1291px) {
  .landing-lottie {
    right: 1.7vw;
    height: 60vw;
    bottom: 0;
    margin-bottom: -4.3vw;
  }
}

@media only screen and (max-width: 1260px) {
  .landing-lottie {
    right: 1.7vw;
    height: 61vw;
    bottom: 0;
    margin-bottom: -4.2vw;
  }
}

@media only screen and (min-width: 1292px) {
  .landing-lottie {
    height: 100%;
    margin-top: -9px;
    right: calc(50vw - 637px);
    top: 0;
  }
}
