@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  @apply w-full overflow-hidden rounded-lg;
}

.swiper-slide {
  @apply flex flex-col justify-start w-full;
}

.swiper-slide img {
  @apply block object-cover w-full h-full;
}

.swiper-pagination {
  @apply !relative pb-[9px] mx-7;
}

.swiper-title {
  @apply mb-5 font-bold sm:text-title text-titleMobile;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply !rounded-full !w-[20px] !bg-black-base !h-[2px];
}

.swiper-pagination-bullet {
  @apply !rounded-full !w-[8px] !bg-[#0B0E13] !h-[2px] !mx-1 transition-all duration-200 ease-in-out;
}

.swiper-pagination-horizontal {
  @apply !w-auto !bottom-0 !left-0;
}

.swiper-controls {
  @apply flex items-center mt-5;
}

.offset-header {
  @apply lg:mt-[56px];
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.clip-text {
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -moz-text-fill-color: transparent !important;
}

.qrcode {
  position: relative;
}

.qrcode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(319deg, #3DEDD7 0%, #02CDFE 10%, #3781F4 50.52%, #7063FF 66.04%, #CC5CDC 100%);
  mix-blend-mode: lighten;
}
