# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: E2E Tests CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup chrome browser
        uses: browser-actions/setup-chrome@latest

      - name: Chrome version
        run: |
          VERSION_STRING="99.0.4844.51"
          wget "https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_${VERSION_STRING}_amd64.deb"
          sudo dpkg -i "google-chrome-stable_${VERSION_STRING}_amd64.deb"

      - uses: actions/checkout@v3

      - uses: aviate-labs/setup-dfx@v0.2.3
        with:
          dfx-version: 0.9.3
        env:
          DFX_IDENTITY_PEM: ${{ secrets.GH_MP_ADMIN_PEM }}

      - name: Install dependencies
        run: yarn install --ignore-engines

      - name: Deploy to local replica
        run: |
          dfx start --clean --background
          dfx deploy

        env:
          FRONTEND_MODE: production
          BACKEND_MODE: DEV
          II_MODE: production
          DFX_NETWORK: dev
          IDENTITY_MANAGER_CANISTER_ID_DEV: ${{secrets.DEV_CANISTER_ID_IDENTITY_MANAGER}}
          PUB_SUB_CHANNEL_CANISTER_ID_DEV: ${{secrets.PROD_CANISTER_ID_PUB_SUB_CHANNEL}}
          INTERNET_IDENTITY_CANISTER_ID_DEV: ${{secrets.PROD_CANISTER_ID_INTERNET_IDENTITY}}
          AWS_VERIFY_PHONENUMBER: ${{secrets.DEV_AWS_VERIFY_PHONENUMBER}}
          USERGEEK_API_KEY: ${{secrets.PROD_USERGEEK_API_KEY}}

      - name: Running E2E test
        run: npx wdio wdio.conf.ts

      - name: Shut down
        run: dfx stop

      - name: Generate HTML Report
        if: always()
        run: yarn generate-cucumber-html-report

      - name: Final Test Reports
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: wdio-report
          path: test/reporter
