name: Deployment
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - closed

jobs:
  check-secrets:
    defaults:
      run:
        shell: bash

    runs-on: ubuntu-latest

    steps:
      - name: Checkout CI repo.
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}
          repository: internet-identity-labs/ci_libs
          ref: main
          path: ci_libs

      - name: Check secrets
        run: |
          source ./ci_libs/CI_LIBS.sh
          JSON='${{ toJSON(env) }}'
          ci_check_secrets "${JSON}"
        env:
          IDENTITY_MANAGER_CANISTER_ID_PRODUCTION: ${{secrets.PROD_CANISTER_ID_IDENTITY_MANAGER}}
          PUB_SUB_CHANNEL_CANISTER_ID_PRODUCTION: ${{secrets.PROD_CANISTER_ID_PUB_SUB_CHANNEL}}
          VERIFIER_CANISTER_ID_PRODUCTION: ${{secrets.PROD_CANISTER_ID_VERIFIER}}
          INTERNET_IDENTITY_CANISTER_ID_PRODUCTION: ${{secrets.PROD_CANISTER_ID_INTERNET_IDENTITY}}
          IM_ADDITION_CANISTER_ID_PRODUCTION: ${{secrets.PROD_CANISTER_ID_IM_ADDITION}}
          AWS_VERIFY_PHONENUMBER: ${{secrets.PROD_AWS_VERIFY_PHONENUMBER}}
          AWS_SIGNIN_GOOGLE: ${{secrets.PROD_AWS_SIGNIN_GOOGLE}}
          AWS_SYMMETRIC: ${{secrets.PROD_AWS_SYMMETRIC}}
          GOOGLE_CLIENT_ID: ${{secrets.PROD_GOOGLE_CLIENT_ID}}
          USERGEEK_API_KEY: ${{secrets.PROD_USERGEEK_API_KEY}}

          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT_NFID }}
          SENTRY_LOG_LEVEL: ${{ secrets.SENTRY_LOG_LEVEL }}
          CURRCONV_TOKEN: ${{secrets.CURRCONV_TOKEN}}
          LEDGER_CANISTER_ID: ${{secrets.LEDGER_CANISTER_ID}}
          CYCLES_MINTER_CANISTER_ID: ${{secrets.CYCLES_MINTER_CANISTER_ID}}
          NPM_GH_TOKEN: ${{secrets.NPM_GH_TOKEN}}

  deploy:
    needs: check-secrets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: aviate-labs/setup-dfx@v0.2.3
        with:
          dfx-version: 0.9.3
        env:
          DFX_IDENTITY_PEM: ${{ secrets.GH_MP_ADMIN_PEM }}

      - name: NFID FRONTEND | install & format check
        run: |
          cat > ~/.npmrc << EOF
          @psychedelic:registry=https://npm.pkg.github.com
          //npm.pkg.github.com/:_authToken=${NPM_GH_TOKEN}
          EOF
          yarn
          yarn prettier --check "src/**/*.{ts,tsx}"
        env:
          NPM_GH_TOKEN: ${{secrets.NPM_GH_TOKEN}}

      - name: NFID FRONTEND | deploy
        run: |

          # install local to generate the types
          dfx start --clean --background
          dfx deploy --no-wallet
          dfx stop

          # On main branch build on ic
          if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
            dfx identity use action
            dfx deploy --network ic  --no-wallet
          fi

        env:
          FRONTEND_MODE: production
          BACKEND_MODE: PRODUCTION
          II_MODE: production
          IC_HOST: https://ic0.app
          DFX_NETWORK: ic
          CURRCONV_TOKEN: ${{secrets.CURRCONV_TOKEN}}
          REACT_APP_SENTRY_CONNECTION: ${{secrets.PROD_SENTRY_CONNECTION}}
          IDENTITY_MANAGER_CANISTER_ID_PRODUCTION: ${{secrets.PROD_CANISTER_ID_IDENTITY_MANAGER}}
          PUB_SUB_CHANNEL_CANISTER_ID_PRODUCTION: ${{secrets.PROD_CANISTER_ID_PUB_SUB_CHANNEL}}
          VERIFIER_CANISTER_ID_PRODUCTION: ${{secrets.PROD_CANISTER_ID_VERIFIER}}
          INTERNET_IDENTITY_CANISTER_ID_PRODUCTION: ${{secrets.PROD_CANISTER_ID_INTERNET_IDENTITY}}
          AWS_VERIFY_PHONENUMBER: ${{secrets.PROD_AWS_VERIFY_PHONENUMBER}}
          AWS_SIGNIN_GOOGLE: ${{secrets.PROD_AWS_SIGNIN_GOOGLE}}
          AWS_SYMMETRIC: ${{secrets.PROD_AWS_SYMMETRIC}}
          GOOGLE_CLIENT_ID: ${{secrets.PROD_GOOGLE_CLIENT_ID}}
          USERGEEK_API_KEY: ${{secrets.PROD_USERGEEK_API_KEY}}
          LEDGER_CANISTER_ID: ${{secrets.LEDGER_CANISTER_ID}}
          CYCLES_MINTER_CANISTER_ID: ${{secrets.CYCLES_MINTER_CANISTER_ID}}
          NPM_GH_TOKEN: ${{secrets.NPM_GH_TOKEN}}

      - name: Create Sentry release
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT_NFID }}
          SENTRY_LOG_LEVEL: ${{ secrets.SENTRY_LOG_LEVEL }}
        with:
          environment: production
          sourcemaps: ./build/static/js

  update_sdk:
    needs: deploy
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout CI repo.
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}
          repository: internet-identity-labs/ci_libs
          ref: main
          path: ci_libs

      - name: Checkout nfid-frontend repo.
        uses: actions/checkout@v3
        with:
          path: nfid-frontend

      - name: Building example.
        run: |
          source ./ci_libs/CI_LIBS.sh

          pushd ./nfid-frontend > /dev/null

          ci_echo_info "Building example" >&2
          yarn
          yarn build:example

      - name: Checkout nfid-sdk repo.
        uses: actions/checkout@v3
        with:
          repository: internet-identity-labs/NFID-SDK
          ref: main
          path: nfid-sdk

      - name: Updating files for PR.
        run: |
          source ./ci_libs/CI_LIBS.sh

          ci_echo_info "Cleaning data in nfid-sdk/build/nfid/build/" >&2
          rm -rf  nfid-sdk/build/nfid/build/

          ci_echo_info "Put new data to nfid-sdk/build/nfid/build/" >&2
          cp -Rf ./nfid-frontend/build/ nfid-sdk/build/nfid/

      - name: Creating PR.
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.PAT }}
          commit-message: "chore: update nfid-frontend build"
          title: "chore: update nfid-frontend build"
          branch: chore/update-nfid-frontend-build
          path: nfid-sdk
