name: Deployment
on:
  release:
    types:
      - released
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      network_name:
        description: 'Choose applicable network'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - stage
      force_deploy:
        description: 'Force deploy'
        default: 'false'
        type: choice
        options:
          - false
          - true
      confirmation:
        description: 'For the ic or force deployment - confirm your choice by typing "Yes"'
        type: string

env:
  NETWORK_NAME: ${{ github.event.inputs.network_name || ( contains(github.event_name, 'release') && 'ic' || 'dev' ) }}
  FORCE_DEPLOY: ${{ github.event.inputs.force_deploy || ( contains(github.event_name, 'release') && 'true' || 'false' ) }}
  CI_DEBUG: true
  RELEASE_TAG_REGEX: '^v(0|[1-9][0-9]*)(\.(0|[1-9][0-9]*))?(\.(0|[1-9][0-9]*))?(-([0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*))?(\+([0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*))?$'

jobs:
  check-secrets:
    name: Check Secrets
    environment: ${{ github.event.inputs.network_name || ( contains(github.event_name, 'release') && 'ic' || 'dev' ) }}
    defaults:
      run:
        shell: bash
    runs-on: ubuntu-latest

    steps:
      - name: Checkout CI repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
          repository: internet-identity-labs/ci_libs
          ref: main
          path: ci_libs

      - name: INPUT => Checks branch and network_name
        if: ${{ env.NETWORK_NAME == 'ic' }}
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

          if [ "${GITHUB_REF_TYPE}" != 'tag' ]; then
            ci_echo_error "Releasing to IC not from tag not allowed." >&2
            exit 1
          fi

          # https://semver.org/
          if ! [[ "${GITHUB_REF_NAME}" =~ ${RELEASE_TAG_REGEX} ]]; then
            ci_echo_error "${GITHUB_REF_TYPE} : '${GITHUB_REF_NAME}' - is not SemVer correct (https://semver.org/)" >&2
            exit 1
          fi

          ci_echo_success "${GITHUB_REF_TYPE} : ${GITHUB_REF_NAME}"

      - name: Check secrets
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"
          JSON='${{ toJSON(env) }}'
          ci_check_secrets "${JSON}"
        env:
          USERGEEK_API_KEY: ${{secrets.PROD_USERGEEK_API_KEY}}
          GH_NPM_REGISTRY: ${{secrets.PSYCHEDELIC_GH_NPM_REGISTRY}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          FORCE_DEPLOY: true

  # build-demo:
  #   name: Build NFID-Demo
  #   needs: check-secrets
  #   environment: ${{ github.event.inputs.network_name || ( contains(github.event_name, 'release') && 'ic' || 'dev' ) }}
  #   runs-on: ubuntu-latest
  #   env:
  #     CANISTER_NAME: nfid-demo

  #   steps:
  #     - name: Checkout repo
  #       uses: actions/checkout@v4

  #     - name: Checkout CI repo
  #       uses: actions/checkout@v4
  #       with:
  #         token: ${{ secrets.PAT }}
  #         repository: internet-identity-labs/ci_libs
  #         ref: main
  #         path: ci_libs

  #     - name: INPUT => Checks branch and network_name
  #       if: ${{ env.NETWORK_NAME == 'ic' }}
  #       run: |
  #         source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

  #         if [ "${GITHUB_REF_TYPE}" != 'tag' ]; then
  #           ci_echo_error "Releasing to IC not from tag not allowed." >&2
  #           exit 1
  #         fi

  #         # https://semver.org/
  #         if ! [[ "${GITHUB_REF_NAME}" =~ ${RELEASE_TAG_REGEX} ]]; then
  #           ci_echo_error "${GITHUB_REF_TYPE} : '${GITHUB_REF_NAME}' - is not SemVer correct (https://semver.org/)" >&2
  #           exit 1
  #         fi

  #         ci_echo_success "${GITHUB_REF_TYPE} : ${GITHUB_REF_NAME}"

  #     - name: Setup DFX
  #       uses: dfinity/setup-dfx@main
  #       with:
  #         dfx-version: 0.24.1

  #     - name: Setup Node
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: "22"
  #         cache: "yarn"

  #     - name: Get yarn cache directory path
  #       id: yarn-cache-dir-path
  #       run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

  #     - name: Cache Node Modules
  #       id: cache-node-modules
  #       uses: actions/cache@v4
  #       with:
  #         path: |
  #           **/node_modules
  #           **/.eslintcache
  #           ${{ steps.yarn-cache-dir-path.outputs.dir }}
  #         key: nfid-fe-yarn

  #     - name: Versions
  #       run: |
  #         source ${{ github.workspace }}/ci_libs/CI_LIBS.sh

  #         ci_versions

  #     - name: Populate env vars
  #       env:
  #         OPTIONS: "${{ vars.OPTIONS }}"
  #       run: |
  #         source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

  #         ci_echo_debug "Getting values from dfx.json" >&2
  #         if ! canister_data=$(cat dfx.json | jq -er ".canisters.\"${CANISTER_NAME}\""); then
  #           ci_echo_error "Can't found canister '${CANISTER_NAME}' data from dfx.json" >&2
  #           exit 1
  #         fi

  #         CANISTER_BRANCH="${GITHUB_REF_NAME////-}"
  #         ENV_FILE=".env.${NETWORK_NAME}"

  #         ci_echo_debug "Populating env variables" >&2
  #         echo "CANISTER_BRANCH=${CANISTER_BRANCH}" >> $GITHUB_ENV
  #         echo "ENV_FILE=${ENV_FILE}" >> $GITHUB_ENV
  #         echo "OPTIONS=${OPTIONS}" >> $GITHUB_ENV

  #     - name: Print Vars
  #       run: |
  #         source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

  #         ci_echo_info "CANISTER_NAME=${CANISTER_NAME}" >&2
  #         ci_echo_info "CANISTER_BRANCH=${CANISTER_BRANCH}" >&2
  #         ci_echo_info "NETWORK_NAME=${NETWORK_NAME}" >&2
  #         ci_echo_info "ENV_FILE=${ENV_FILE}" >&2
  #         ci_echo_info "OPTIONS=${OPTIONS}" >&2

  #     - name: Install
  #       env:
  #         GH_NPM_REGISTRY: ${{secrets.PSYCHEDELIC_GH_NPM_REGISTRY}}
  #       run: |
  #         source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

  #         ci_echo_debug "Preparing .npmrc" >&2
  #         sed -i "s/__PSYCHEDELIC_GH_NPM_REGISTRY__/${GH_NPM_REGISTRY}/g" .npmrc

  #         ci_echo_debug "yarn --prefer-offline" >&2
  #         yarn --prefer-offline --frozen-lockfile

  #     - name: Build
  #       run: |
  #         source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

  #         ci_echo_info "NPX" >&2
  #         ci_echo_debug "npx env-cmd -f '${ENV_FILE}' nx build '${CANISTER_NAME}' ${OPTIONS}" >&2
  #         npx env-cmd -f "${ENV_FILE}" nx build "${CANISTER_NAME}" ${OPTIONS}

  #         ci_echo_debug "dfx build --network '${NETWORK_NAME}' ${CANISTER_NAME}" >&2
  #         dfx build --network "${NETWORK_NAME}" "${CANISTER_NAME}"

  #     - name: Save artifact
  #       uses: actions/upload-artifact@v4
  #       with:
  #         retention-days: 1
  #         name: nfid-demo
  #         include-hidden-files: true
  #         path: |
  #           build/
  #           dist/
  #           .dfx/

  # deploy-demo:
  #   name: Deploy NFID-Demo
  #   needs: build-demo
  #   environment: ${{ github.event.inputs.network_name || ( contains(github.event_name, 'release') && 'ic' || 'dev' ) }}
  #   env:
  #     CANISTER_NAME: nfid-demo
  #   runs-on:
  #     group: dfx-runner
  #   defaults:
  #     run:
  #       shell: bash

  #   steps:
  #   - name: INPUT => Checks force_deploy
  #     if: (github.event.inputs.force_deploy == 'true') && (github.event.inputs.confirmation != 'Yes')
  #     run: |
  #       echo "[ERROR] You have try to force release without or with wrong confirmation phrase" >&2
  #       exit 1

  #   - name: Checkout repo
  #     uses: actions/checkout@v4

  #   - name: Checkout CI repo
  #     uses: actions/checkout@v4
  #     with:
  #       token: ${{ secrets.PAT }}
  #       repository: internet-identity-labs/ci_libs
  #       ref: main
  #       path: ci_libs

  #   - name: INPUT => Checks branch and network_name
  #     if: ${{ env.NETWORK_NAME == 'ic' }}
  #     run: |
  #       source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

  #       if [ "${GITHUB_REF_TYPE}" != 'tag' ]; then
  #         ci_echo_error "Releasing to IC not from tag not allowed." >&2
  #         exit 1
  #       fi

  #       # https://semver.org/
  #       if ! [[ "${GITHUB_REF_NAME}" =~ ${RELEASE_TAG_REGEX} ]]; then
  #         ci_echo_error "${GITHUB_REF_TYPE} : '${GITHUB_REF_NAME}' - is not SemVer correct (https://semver.org/)" >&2
  #         exit 1
  #       fi

  #       ci_echo_success "${GITHUB_REF_TYPE} : ${GITHUB_REF_NAME}"

  #   - name: Versions
  #     run: |
  #       source ${{ github.workspace }}/ci_libs/CI_LIBS.sh

  #       ci_versions

  #   - name: PRE-DEPLOY => Populate env vars
  #     env:
  #         DFX_ID_NAME: ${{ vars.DFX_ID_NAME }}
  #     run: |
  #       source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

  #       ci_echo_debug "Getting values from dfx.json" >&2
  #       if ! canister_data=$(cat dfx.json | jq -er ".canisters.\"${CANISTER_NAME}\""); then
  #         ci_echo_error "Can't found canister '${CANISTER_NAME}' data from dfx.json" >&2
  #         exit 1
  #       fi

  #       CANISTER_BRANCH="${GITHUB_REF_NAME////-}"

  #       ci_echo_debug "Populating env variables" >&2
  #       echo "CANISTER_BRANCH=${CANISTER_BRANCH}" >> $GITHUB_ENV

  #       ci_echo_debug "Getting dfx identity for network '${NETWORK_NAME}'" >&2
  #       DFX_ID_PATH="${HOME}/.config/dfx/identity/${DFX_ID_NAME}"

  #       echo "DFX_ID_NAME=${DFX_ID_NAME}" >> $GITHUB_ENV
  #       echo "DFX_ID_PATH=${DFX_ID_PATH}" >> $GITHUB_ENV

  #   - name: PRE-DEPLOY => Print Vars
  #     run: |
  #       source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"
  #       ci_echo_info "NETWORK_NAME=${NETWORK_NAME}" >&2
  #       ci_echo_info "CANISTER_NAME=${CANISTER_NAME}" >&2
  #       ci_echo_info "CANISTER_BRANCH=${CANISTER_BRANCH}" >&2
  #       ci_echo_info "DFX_ID_NAME=${DFX_ID_NAME}" >&2
  #       ci_echo_info "DFX_ID_PATH=${DFX_ID_PATH}" >&2

  #   - name: PRE-DEPLOY => Write identity
  #     env:
  #       DFX_ID_KEY: ${{ secrets.DFX_ID_KEY }}
  #     run: |
  #       source ${{ github.workspace }}/ci_libs/CI_LIBS.sh

  #       mkdir -p "${DFX_ID_PATH}"

  #       ci_echo_warn "Preparing encoded key..." >&2
  #       echo "${DFX_ID_KEY}" | base64 -d > "${DFX_ID_PATH}/identity.pem"

  #   - name: PRE-DEPLOY => DFX status.
  #     run: |
  #       dfx --version

  #   - name: DEPLOY => Load artifact
  #     uses: actions/download-artifact@v4
  #     with:
  #       name: nfid-demo

  #   - name: DEPLOY => Deploy to the canister.
  #     run: |
  #       source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

  #       if [ "${NETWORK_NAME}" == 'ic' ]; then
  #         CI_DEBUG="true"
  #       fi

  #       if [ "${FORCE_DEPLOY}" == 'true' ]; then
  #         FORCE="--yes"
  #       fi

  #       dfx identity use "${DFX_ID_NAME}"

  #       ci_echo_debug "dfx canister install ${FORCE} --mode auto --network ${NETWORK_NAME} ${CANISTER_NAME}" >&2
  #       if ! result=$(dfx canister install ${FORCE} --mode auto --network "${NETWORK_NAME}" "${CANISTER_NAME}"); then
  #         ci_echo_error "Install failed ${result}" >&2
  #         exit 1
  #       fi

  #       ci_echo_debug "Command output was '${result}'" >&2

  #       ci_echo_success "Canister '${CANISTER_NAME}' was installed to the network '${NETWORK_NAME}'" >&2

  #   - name: POST-DEPLOY => Cleaning.
  #     uses: geekyeggo/delete-artifact@f275313e70c08f6120db482d7a6b98377786765b # v5.1.0
  #     with:
  #       name: nfid-demo
  #       failOnError: false

  #   - name: POST-DEPLOY => Save artifact.
  #     uses: actions/upload-artifact@v4
  #     with:
  #       name: ${{github.sha}}-nfid-demo
  #       retention-days: ${{ env.ARTIFACT_RETENTION_DAYS }}
  #       path: |
  #           build/
  #           dist/

  build-frontend:
    name: Build Frontend
    needs: check-secrets
    environment: ${{ github.event.inputs.network_name || ( contains(github.event_name, 'release') && 'ic' || 'dev' ) }}
    runs-on: ubuntu-latest
    env:
      CANISTER_NAME: nfid-wallet-client

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Checkout CI repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
          repository: internet-identity-labs/ci_libs
          ref: main
          path: ci_libs

      - name: INPUT => Checks branch and network_name
        if: ${{ env.NETWORK_NAME == 'ic' }}
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

          if [ "${GITHUB_REF_TYPE}" != 'tag' ]; then
            ci_echo_error "Releasing to IC not from tag not allowed." >&2
            exit 1
          fi

          # https://semver.org/
          if ! [[ "${GITHUB_REF_NAME}" =~ ${RELEASE_TAG_REGEX} ]]; then
            ci_echo_error "${GITHUB_REF_TYPE} : '${GITHUB_REF_NAME}' - is not SemVer correct (https://semver.org/)" >&2
            exit 1
          fi

          ci_echo_success "${GITHUB_REF_TYPE} : ${GITHUB_REF_NAME}"

      - name: Setup DFX
        uses: dfinity/setup-dfx@main
        with:
          dfx-version: 0.24.1

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
            **/.eslintcache
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: nfid-fe-yarn

      - name: Versions
        run: |
          source ${{ github.workspace }}/ci_libs/CI_LIBS.sh

          ci_versions

      - name: Populate env vars
        env:
          OPTIONS: "${{ vars.OPTIONS }}"
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

          ci_echo_debug "Getting values from dfx.json" >&2
          if ! canister_data=$(cat dfx.json | jq -er ".canisters.\"${CANISTER_NAME}\""); then
            ci_echo_error "Can't found canister '${CANISTER_NAME}' data from dfx.json" >&2
            exit 1
          fi

          CANISTER_BRANCH="${GITHUB_REF_NAME////-}"
          ENV_FILE=".env.${NETWORK_NAME}"

          ci_echo_debug "Populating env variables" >&2
          echo "CANISTER_BRANCH=${CANISTER_BRANCH}" >> $GITHUB_ENV
          echo "ENV_FILE=${ENV_FILE}" >> $GITHUB_ENV
          echo "OPTIONS=${OPTIONS}" >> $GITHUB_ENV

      - name: Print Vars
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

          ci_echo_info "CANISTER_NAME=${CANISTER_NAME}" >&2
          ci_echo_info "CANISTER_BRANCH=${CANISTER_BRANCH}" >&2
          ci_echo_info "NETWORK_NAME=${NETWORK_NAME}" >&2
          ci_echo_info "ENV_FILE=${ENV_FILE}" >&2
          ci_echo_info "OPTIONS=${OPTIONS}" >&2

      - name: Install
        env:
          GH_NPM_REGISTRY: ${{ secrets.PSYCHEDELIC_GH_NPM_REGISTRY }}
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

          ci_echo_debug "Preparing .npmrc" >&2
          sed -i "s/__PSYCHEDELIC_GH_NPM_REGISTRY__/${GH_NPM_REGISTRY}/g" .npmrc

          ci_echo_debug "yarn --prefer-offline" >&2
          yarn --prefer-offline --frozen-lockfile

      - name: Build
        env:
          IS_DEV: ${{ vars.IS_DEV }}
          IC_HOST: https://ic0.app
          USERGEEK_API_KEY: ${{ secrets.PROD_USERGEEK_API_KEY }}
          GH_NPM_REGISTRY: ${{ secrets.PSYCHEDELIC_GH_NPM_REGISTRY }}
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

          ci_echo_debug "npx env-cmd -f '${ENV_FILE}' nx build '${CANISTER_NAME}' ${OPTIONS}" >&2
          npx env-cmd -f "${ENV_FILE}" nx build "${CANISTER_NAME}" ${OPTIONS}

          ci_echo_debug "dfx build --network '${NETWORK_NAME}' ${CANISTER_NAME}" >&2
          dfx build --network "${NETWORK_NAME}" "${CANISTER_NAME}"

      - name: INPUT => Checks force_deploy
        if: (github.event.inputs.force_deploy == 'true') && (github.event.inputs.confirmation != 'Yes')
        run: |
          echo "[ERROR] You have try to force release without or with wrong confirmation phrase" >&2
          exit 1

      - name: INPUT => Checks branch and network_name
        if: ${{ env.NETWORK_NAME == 'ic' }}
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

          if [ "${GITHUB_REF_TYPE}" != 'tag' ]; then
            ci_echo_error "Releasing to IC not from tag not allowed." >&2
            exit 1
          fi

          # https://semver.org/
          if ! [[ "${GITHUB_REF_NAME}" =~ ${RELEASE_TAG_REGEX} ]]; then
            ci_echo_error "${GITHUB_REF_TYPE} : '${GITHUB_REF_NAME}' - is not SemVer correct (https://semver.org/)" >&2
            exit 1
          fi

          ci_echo_success "${GITHUB_REF_TYPE} : ${GITHUB_REF_NAME}"

      - name: PRE-DEPLOY => Populate env vars
        env:
            DFX_ID_NAME: ${{ vars.DFX_ID_NAME }}
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

          ci_echo_debug "Getting values from dfx.json" >&2
          if ! canister_data=$(cat dfx.json | jq -er ".canisters.\"${CANISTER_NAME}\""); then
            ci_echo_error "Can't found canister '${CANISTER_NAME}' data from dfx.json" >&2
            exit 1
          fi

          CANISTER_BRANCH="${GITHUB_REF_NAME////-}"

          ci_echo_debug "Populating env variables" >&2
          echo "CANISTER_BRANCH=${CANISTER_BRANCH}" >> $GITHUB_ENV

          ci_echo_debug "Getting dfx identity for network '${NETWORK_NAME}'" >&2
          DFX_ID_PATH="${HOME}/.config/dfx/identity/${DFX_ID_NAME}"

          echo "DFX_ID_NAME=${DFX_ID_NAME}" >> $GITHUB_ENV
          echo "DFX_ID_PATH=${DFX_ID_PATH}" >> $GITHUB_ENV

      - name: PRE-DEPLOY => Print Vars
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"
          ci_echo_info "NETWORK_NAME=${NETWORK_NAME}" >&2
          ci_echo_info "CANISTER_NAME=${CANISTER_NAME}" >&2
          ci_echo_info "CANISTER_BRANCH=${CANISTER_BRANCH}" >&2
          ci_echo_info "DFX_ID_NAME=${DFX_ID_NAME}" >&2
          ci_echo_info "DFX_ID_PATH=${DFX_ID_PATH}" >&2

      - name: PRE-DEPLOY => Write identity
        env:
          DFX_ID_KEY: ${{ secrets.DFX_ID_KEY }}
        run: |
          source ${{ github.workspace }}/ci_libs/CI_LIBS.sh

          mkdir -p "${DFX_ID_PATH}"

          ci_echo_warn "Preparing encoded key..." >&2
          echo "${DFX_ID_KEY}" | base64 -d > "${DFX_ID_PATH}/identity.pem"

      - name: PRE-DEPLOY => DFX status.
        run: |
          dfx --version

      - name: DEPLOY => Deploy to the canister.
        run: |
          source "${{ github.workspace }}/ci_libs/CI_LIBS.sh"

          if [ "${NETWORK_NAME}" == 'ic' ]; then
            CI_DEBUG="true"
          fi

          if [ "${FORCE_DEPLOY}" == 'true' ]; then
            FORCE="--yes"
          fi

          dfx identity use "${DFX_ID_NAME}"

          ci_echo_debug "dfx canister install --yes --mode reinstall --network ${NETWORK_NAME} ${CANISTER_NAME}" >&2
          if ! result=$(dfx canister install --yes --mode reinstall --network "${NETWORK_NAME}" "${CANISTER_NAME}"); then
            ci_echo_error "Install failed ${result}" >&2
            exit 1
          fi

          ci_echo_debug "Command output was '${result}'" >&2

          ci_echo_success "Canister '${CANISTER_NAME}' was installed to the network '${NETWORK_NAME}'" >&2

      - name: POST-DEPLOY => Save artifact.
        uses: actions/upload-artifact@v4
        with:
          name: ${{github.sha}}-nfid-wallet-client
          retention-days: ${{ env.ARTIFACT_RETENTION_DAYS }}
          path: |
              build/
              dist/